body {
    font-family: Arial, sans-serif;
    background-color: #f4f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #FAFAF2;
    border: 1px solid #D9E4E5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #4A90E2;}
    

h2 {
    text-align: center;
    color: #67d54e;
}

h3 {
    color: #4F6272;
    border-bottom: 2px solid #4A90E2;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

ul li strong {
    color: #4A90E2;
}

.fresh {
    color: #27AE60;
    font-weight: bold;
}

.info-section {
    margin-bottom: 20px;
}